In [2]:
import pandas as pd
import numpy as np

In [3]:
data=pd.read_csv('train_data.csv')

In [4]:
data

      CategoryCode  ItemCode      DateID  DailySales
0       category_2    117610   11/6/2021           7
1       category_4    836584  11/18/2021          16
2       category_1    370195   1/24/2022           6
3       category_2    172582  10/30/2021           5
4       category_2   1006009  10/30/2021           5
...            ...       ...         ...         ...
19916   category_2    225259   10/4/2021           4
19917   category_2    111436  10/12/2021           1
19918   category_2   1098502   10/1/2021           1
19919   category_2     20824   10/1/2021           7
19920   category_1    371104   10/4/2021           4

[19921 rows x 4 columns]

In [5]:
# creating a dataframe using dictionary
df = pd.DataFrame(data)
  
# using notnull() function 
df.notnull().sum()

CategoryCode    19921
ItemCode        19921
DateID          19921
DailySales      19921
dtype: int64

In [6]:
df.duplicated().sum()

0

In [7]:
df.dtypes

CategoryCode    object
ItemCode         int64
DateID          object
DailySales       int64
dtype: object